.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-scoreboard {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-width: 50%;
  border: 1px solid white
}

.App .labels {
  display: block;
}

.symbol {
  font-size: 5rem;
}